---
import { slide } from "astro/transitions";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
const pageKey = "ABOUT";
const className = "pageTop";
import gif1 from "../assets/img/top/fv_illust_01.gif";
import gif2 from "../assets/img/top/fv_illust_02.gif";
import gif3 from "../assets/img/top/fv_illust_03.gif";
import gif4 from "../assets/img/top/fv_illust_04.gif";

import { Image } from "astro:assets";
---

<Layout pageClass={className}>
  <Container>
    <div class="wrap">
      <section class="section" transition:animate={slide({ duration: "0.2s" })}>
        <a href="/">topへ</a>
      </section>
      <section class="section" transition:animate={slide({ duration: "0.4s" })}>
        <a href="/">topへ</a>
      </section>
      <section class="section" transition:animate={slide({ duration: "0.6s" })}>
        <a href="/">topへ</a>
      </section>
      <section class="section" transition:animate={slide({ duration: "0.8s" })}>
        <a href="/">topへ</a>
      </section>
    </div>
    <Image src={gif1} alt="aa" width={gif1.width} height={gif1.height} />
    <Image src={gif2} alt="aa" width={gif2.width} height={gif2.height} />
    <Image src={gif3} alt="aa" width={gif3.width} height={gif3.height} />
    <Image src={gif4} alt="aa" width={gif4.width} height={gif4.height} />
  </Container>
</Layout>

<script></script>
<style lang="scss">
  .wrap {
    display: flex;
    gap: 30px;
  }
  section {
    background-color: red;
    width: 500px;
  }
  a {
    @include fCenter();
    height: 100px;
  }
</style>
