---
import Layout from "../layouts/Layout.astro";
import gif1 from "../assets/img/top/fv_illust_01.gif";
import gif2 from "../assets/img/top/fv_illust_02.gif";
import gif3 from "../assets/img/top/fv_illust_03.gif";
import gif4 from "../assets/img/top/fv_illust_04.gif";

import { Image } from "astro:assets";
---

<Layout>
  <p class="">TOP</p>
  <a href="/about/">about</a>
  <div class="wrap">
    <figure transition:name="hero">
      <Image src={gif1} alt="aa" width={gif1.width} height={gif1.height} />
    </figure>
    <figure>
      <Image src={gif2} alt="aa" width={gif2.width} height={gif2.height} />
    </figure>
    <figure>
      <Image src={gif3} alt="aa" width={gif3.width} height={gif3.height} />
    </figure>
    <figure>
      <Image src={gif4} alt="aa" width={gif4.width} height={gif4.height} />
    </figure>
  </div>
</Layout>
<style lang="scss">
  a {
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: fit-content;
    margin-inline: auto;
  }
  p {
    @include bp(sp) {
    }
  }
  .wrap {
    display: flex;
    margin-top: 100px;
    img {
      display: block;
      width: 100%;
    }
  }
</style>
