---
import Layouts from "../layouts/Layout.astro";

// let res = await fetch(`${import.meta.env.PUBLIC_API_URL}news?_embed`);
// let posts = await res.json();
let posts = "";
function formatDate(dateString: string): string {
  const date = new Date(dateString);
  const year = date.getFullYear();
  const month = (date.getMonth() + 1).toString().padStart(2, "0");
  const day = date.getDate().toString().padStart(2, "0");
  return `${year}.${month}.${day}`;
}
try {
  let res = await fetch(`${import.meta.env.PUBLIC_API_URL}news?_embed`);
  posts = await res.json();
} catch (error) {
  console.error(`Failed to fetch posts: ${error.message}`);
}
---

<Layouts>
  <p>ああ</p>
  {
    posts.map((post: any) => (
      <article>
        <a href={`${post.slug}/`}>
          <div class="title">{post.title.rendered}</div>
          <div class="date">{formatDate(post.date)}</div>
        </a>
      </article>
    ))
  }
</Layouts>
